@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
  
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body {
  padding-top: 50px;
  > .container, > .col-md-6, > .col-md-8{
    padding-bottom: 100px;
  }
}

html,body {
  height: 100%;
}

.navbar-header a {
  color: $black;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-weight: bold;
}

.navbar {
  background-color: $background_color;
}

.nav li > a:hover {
  text-decoration: none;
  color: $black;
  background-color: $background_color;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  height: 100vh;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
  .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: $searchbar;
    border-radius: 30px;
    padding: 10px;
  }

  .search_input {
    color: $white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input {
    width: 450px;
    caret-color:$red;
    transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon {
    background: $white;
    color: $search_icon;
  }

  .search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    color: $white;
    text-decoration:none;
  }
}

input, select, .uneditable-input {
  border: 1px solid $border;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#user_user_profile_attributes_gender {
  height: 32px;
}

#img_user {
  width: 200px;
  height: 200px;
  border: 1px solid $gray;
}

#user_profile_show {
  padding-top: 40px;
}

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray;
  }
}

.stats {
  overflow: inherit;
  margin-top: 8px;
  a {
    margin-right: 25px;
  }
}

#myModalFollowing, #myModalFollowers {
  header {
  display: none; 
  }

  .modal-dialog {
    width: 25%;
  }

  .modal-title {
    text-align: center;
    color: $red;
  }

  .single li a {
  padding-left: 12px;
  color: $black;
  font-size: 20px;
  border-bottom: 1px solid $border;
  line-height: 40px;
  display: block;
  text-decoration: none; 
  }

  .single li a:hover {
  color: $red;
  }
}

.comments {
  padding-top: 100px;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid $border;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed $border;
  margin-bottom: 25px;
  margin-top: 20px;
}

.comment-wrapper, .panel-body {
  padding-top: 20px;
  overflow: auto;
}

.comment-wrapper button {
  margin-top: 10px;
}

.media-body {
  .text-success {
    font-size: 20px;
  }
}

.rating-form {
  font-size: 10px;
  padding: 0px;
  width: 120%;
}

.rating-disabled {
  .clear-rating {
    display: none;
  }
}

.rating-active {
  .clear-rating {
    display: none;
  }
}

#myModalBooking {
  header {
    display: none; 
  }
  .modal-title{
    text-align: center;
    color: $blue;
  }
  .modal-dialog {
    width: 40%;
  }
  .form-control {
    background-color: #fff;
    box-shadow: none;
    border-radius: 40px;
    width: 100px;
    margin-top: 10px;
  }
  
  td {
    font-family: sans-serif;
    padding: 10px;
    font-weight: 600;
    color: #354052;
    font-size: 14px;
    margin: 5px;
  }
  #order_rental_period {
    display: inline;
  }
}

h1#show_name {
  text-align: left;
  color: $red;
}

#show_order.col-sm-3 {
  a{
    text-align: center;
  }
}

#user_profile_show.col-md-12 .col-sm-7 {
  border: 1px dashed $gray;
  border-radius: 10px;
}
